
.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

.homepage-image {
  background-image: url('images/split.png');
}

.menu {
  display: flex;
  flex-direction: row; /* Display links horizontally */
  gap: 20px; /* Add spacing between links (adjust as needed) */
}

.iframe-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  position: absolute;
}

/* Style the iframe to be 50% wide */
.iframe-container iframe {
  width: 78%;
  height: 50%; /* Full height of the container */
  border: none;
}

body {
  background-repeat: no-repeat;
  background-color: #5a7882;
}

.hr {
border-style: none;
border-top-style: double;
border-color: #967E76;
border-width: 5px;
width: 95%;
}

.h3 {
  color: #25316D;
}

a:hover {
  background-color: red;
  color: white;
}

.circleprofile {
  border-radius: 20%
}

.login-dialog {
  text-align: center;
}

.logout {
  align-items: right;
}
